/**
 * All custom CSS modifications should be kept in this file. When updating move this file
 * from the old installation to the updated one. This will preserve all your CSS customisations.
 *
 * This file gets included last, so any CSS rule written below will override a previously declared one.
 *
 * Add your CSS modifications below:
 */


/*
     FILE ARCHIVED ON 05:23:58 Aug 14, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:08:31 Feb 05, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  RedisCDXSource: 0.734
  PetaboxLoader3.datanode: 261.694 (5)
  PetaboxLoader3.resolve: 162.336 (2)
  LoadShardBlock: 262.664 (3)
  captures_list: 291.688
  esindex: 0.014
  exclusion.robots.policy: 0.17
  CDXLines.iter: 24.109 (3)
  load_resource: 259.156 (2)
  exclusion.robots: 0.183
*/